* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #27374D;
  --secondary-color: #526D82;
  --tertiary-color: #9DB2BF;
  --quaternary-color: #DDE6ED;
  color: #ffffff;
  font-family: Poppins;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(#27374D, #DDE6ED);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

nav {
  height: 10vh;
  width: 100vw;
  background: #27374d7e;
  box-shadow: #404040;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.nav-links a:hover,
.nav-links a:focus {
  position: relative;
  animation-name: pulse;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
}
#myCanvas {
  position: absolute;
  z-index: -1;
}
.landing {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.intro {
  width: 50vw;
  height: 50vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff46;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0.5rem);
}
.intro > p:first-child {
  font-size: 2rem;
}
.intro > p:nth-child(2) {
  font-size: 1.2rem;

}

.social {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  margin: 1.5rem;
  color: #ffffff;
  font-weight: bold;
}

.social a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.5rem;
  min-width: 2rem;
  background: var(--tertiary-color);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.social a:hover,
.social a:focus {
  animation-name: pulse;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

.social a:nth-child(3) {
  background-color: #59ADFF;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.social img {
  height: 1.8rem;
  margin-right: 5%;
}


#projects {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-header {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 320px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  padding: 15px;
}

.content h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.date {
  color: var(--quaternary-color);
  font-size: 0.9rem;
  margin: 5px 0;
}

.desc {
  margin: 10px 0;
  font-size: 0.95rem;
}

.tech {
  font-size: 0.9rem;
  color: var(--quaternary-color);
  margin-bottom: 0.5rem;
}

#education{
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#education > h1{
  text-decoration: underline ;
}

.edu-container{
  display: flex;
  height:inherit;
  width: 100%;
  justify-content: space-evenly;
  padding: 10%;
}

.course{
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:var(--secondary-color);
  border-radius: 50%;
}

.course-link{
  transform: rotate(90deg);
  z-index: -1;
}

#contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 60vh;
  width: 20vw;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: rgb(175, 175, 175) 0 0.5rem 0.5rem 0,
    rgb(156, 156, 156) 0 1.5rem 2rem 0.1rem;
  transition: all 100ms ease-out;
}
.card:hover,
.card:focus {
  transform: scale(1.05);
  box-shadow: rgb(175, 175, 175) 0 0.5rem 0.5rem 0,
    rgb(156, 156, 156) 0 1.75rem 2.5rem 0.3rem;
}

.contact-container {
  height: 70vh;
  width: 60vw;
  background-color: #526d8277;
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  display: flex;
  justify-content: space-between;
}

.contact-info-container {
  width: 30vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header{
  width: 100%;
  height: auto;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.contact-description {
  width: 100%;
  height: 10vh;
  font-size: 1.2rem;
  color: var(--quaternary-color);
}

.contact-info{
  width: 100%;
  font-size: 1rem;
  color: var(--quaternary-color);
  display: flex;
  flex-direction: column;
}

.contact-info li{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--quaternary-color);

}

.contact-info li img{
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.contact-form{
  width: 30vw;
  height: 100%;
  padding: 5rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--quaternary-color);
}

.contact-form button {
  width: 100%;
  height: 3rem;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.contact-form button:hover,
.contact-form button:focus {
  background-color: #59ADFF;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: 0.9rem;
  }
  #projects {
    height: 100vh;
    width: 100vw;
    padding: 10vh 0;
    flex-direction: column;
  }
  .card {
    height: 35vh;
    width: 50vw;
    margin: 5vh 0;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width : 500px) {

  *{
    font-size: 0.8rem;
  }

  .nav-links{
    width: 100%;
  }

  .intro{
    min-width: 80vw;
    text-align: center;
  }

  .social{
    min-width: 40vw;
  }

  #projects{
    height: auto;
  }

  .project-header{
    padding-top: 5vh;
    font-size: 1.5rem;
  }

  .project-container{
    grid-template-columns: 1fr;
    grid-gap: 0;
    height: auto;
    place-items: center;
  }

  .project-container > .card{
    min-width: 70vw;
    height: 90%;
  }

  .course{
    margin-bottom: 2rem;
  }

  .course-link{
    width: 5rem;
    transform: scale(2);
    transform: rotate(90deg);
  }
  .edu-container{
    flex-direction: column;
    align-items: center;
  }
  
  
  #contact{
    width: 100%;
  }

  .contact-container{
    width: 80vw;
    flex-direction: column;
  }

  .contact-info-container{
    padding: 1rem;
    width: 100%;
    height: auto;
  }

  .contact-header{
    text-align: center;
    width: 100%;
  }

  

  .contact-form{
    width: 100%;
    height: 40vh;
    padding: 2rem;
  }
}